[submodule "excelmodule"]
	path = excelmodule
	url = https://github.com/intofairy/subtree.git
[submodule "submodule"]
	path = submodule
	url = https://github.com/intofairy/subtree.git
[submodule "xlss"]
	path = xlss
	url = https://github.com/intofairy/subtree.git
